In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('melb_data.csv')

In [4]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [5]:
pd.set_option('display.max.columns', None)

In [6]:
df.tail()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [7]:
pd.set_option('display.precision', 2)

In [8]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1.48e+06,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.80,145.00,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1.04e+06,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.81,144.99,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1.46e+06,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.81,144.99,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,8.50e+05,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.80,145.00,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1.60e+06,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.81,144.99,Northern Metropolitan,4019.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [10]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.00,1.36e+04,13580.00,13580.00,13580.00,13580.00,13518.00,13580.00,7130.00,8205.00,13580.00,13580.00,13580.00
mean,2.94,1.08e+06,10.14,3105.30,2.91,1.53,1.61,558.42,151.97,1964.68,-37.81,145.00,7454.42
std,0.96,6.39e+05,5.87,90.68,0.97,0.69,0.96,3990.67,541.01,37.27,0.08,0.10,4378.58
min,1.00,8.50e+04,0.00,3000.00,0.00,0.00,0.00,0.00,0.00,1196.00,-38.18,144.43,249.00
25%,2.00,6.50e+05,6.10,3044.00,2.00,1.00,1.00,177.00,93.00,1940.00,-37.86,144.93,4380.00
50%,3.00,9.03e+05,9.20,3084.00,3.00,1.00,2.00,440.00,126.00,1970.00,-37.80,145.00,6555.00
75%,3.00,1.33e+06,13.00,3148.00,3.00,2.00,2.00,651.00,174.00,1999.00,-37.76,145.06,10331.00
max,10.00,9.00e+06,48.10,3977.00,20.00,8.00,10.00,433014.00,44515.00,2018.00,-37.41,145.53,21650.00

In [11]:
df.describe(include=object)

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname
count,13580,13580,13580,13580,13580,13580,12211,13580
unique,314,13378,3,5,268,58,33,8
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan
freq,359,3,9449,9022,1565,473,1163,4695

In [12]:
df['Date']

0         3/12/2016
1         4/02/2016
2         4/03/2017
3         4/03/2017
4         4/06/2016
            ...
13575    26/08/2017
13576    26/08/2017
13577    26/08/2017
13578    26/08/2017
13579    26/08/2017
Name: Date, Length: 13580, dtype: object

In [13]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

In [14]:
df['month_id'] = df['Date'].dt.month

In [15]:
df['day_id'] = df['Date'].dt.day

In [16]:
df['year_id'] = df['Date'].dt.year

In [17]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,month_id,day_id,year_id
0,Abbotsford,85 Turner St,2,h,1.48e+06,S,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,12,3,2016
1,Abbotsford,25 Bloomburg St,2,h,1.04e+06,S,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.81,144.99,Northern Metropolitan,4019.0,2,4,2016
2,Abbotsford,5 Charles St,3,h,1.46e+06,SP,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.81,144.99,Northern Metropolitan,4019.0,3,4,2017
3,Abbotsford,40 Federation La,3,h,8.50e+05,PI,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,3,4,2017
4,Abbotsford,55a Park St,4,h,1.60e+06,VB,Nelson,2016-06-04,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.81,144.99,Northern Metropolitan,4019.0,6,4,2016

In [18]:
df.isna()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,month_id,day_id,year_id
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False
13576,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
13577,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False
13578,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
13579,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False

In [19]:
df['BuildingArea'].isna()

0         True
1        False
2        False
3         True
4        False
         ...
13575     True
13576    False
13577     True
13578    False
13579    False
Name: BuildingArea, Length: 13580, dtype: bool

In [20]:
df[df['BuildingArea'].isna()]['BuildingArea'].unique()

array([nan])

In [21]:
df[df['BuildingArea'].isna()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,month_id,day_id,year_id
0,Abbotsford,85 Turner St,2,h,1.48e+06,S,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,12,3,2016
3,Abbotsford,40 Federation La,3,h,8.50e+05,PI,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,3,4,2017
5,Abbotsford,129 Charles St,2,h,9.41e+05,S,Jellis,2016-05-07,2.5,3067.0,2.0,1.0,0.0,181.0,NaN,NaN,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,5,7,2016
8,Abbotsford,6/241 Nicholson St,1,u,3.00e+05,S,Biggin,2016-10-08,2.5,3067.0,1.0,1.0,1.0,0.0,NaN,NaN,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,10,8,2016
10,Abbotsford,411/8 Grosvenor St,2,u,7.00e+05,VB,Jellis,2016-11-12,2.5,3067.0,2.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81,145.01,Northern Metropolitan,4019.0,11,12,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13569,Wantirna South,12 Armagh Cr,4,h,1.32e+06,S,Barry,2017-08-26,14.7,3152.0,4.0,2.0,2.0,551.0,NaN,NaN,NaN,-37.88,145.22,Eastern Metropolitan,7082.0,8,26,2017
13570,Wantirna South,34 Fewster Dr,3,h,9.70e+05,S,Barry,2017-08-26,14.7,3152.0,3.0,2.0,2.0,674.0,NaN,NaN,NaN,-37.88,145.23,Eastern Metropolitan,7082.0,8,26,2017
13574,Westmeadows,9 Black St,3,h,5.82e+05,S,Red,2017-08-26,16.5,3049.0,3.0,2.0,2.0,256.0,NaN,NaN,NaN,-37.68,144.89,Northern Metropolitan,2474.0,8,26,2017
13575,Wheelers Hill,12 Strada Cr,4,h,1.24e+06,S,Barry,2017-08-26,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.91,145.17,South-Eastern Metropolitan,7392.0,8,26,2017
13577,Williamstown,83 Power St,3,h,1.17e+06,S,Raine,2017-08-26,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85,144.89,Western Metropolitan,6380.0,8,26,2017

In [22]:
df[~df['BuildingArea'].isna()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,month_id,day_id,year_id
1,Abbotsford,25 Bloomburg St,2,h,1.04e+06,S,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.81,144.99,Northern Metropolitan,4019.0,2,4,2016
2,Abbotsford,5 Charles St,3,h,1.46e+06,SP,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.81,144.99,Northern Metropolitan,4019.0,3,4,2017
4,Abbotsford,55a Park St,4,h,1.60e+06,VB,Nelson,2016-06-04,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.81,144.99,Northern Metropolitan,4019.0,6,4,2016
6,Abbotsford,124 Yarra St,3,h,1.88e+06,S,Nelson,2016-05-07,2.5,3067.0,4.0,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,5,7,2016
7,Abbotsford,98 Charles St,2,h,1.64e+06,S,Nelson,2016-10-08,2.5,3067.0,2.0,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.81,145.00,Northern Metropolitan,4019.0,10,8,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13572,Watsonia,76 Kenmare St,2,h,6.50e+05,PI,Morrison,2017-08-26,14.5,3087.0,2.0,1.0,1.0,210.0,79.0,2006.0,NaN,-37.71,145.08,Northern Metropolitan,2329.0,8,26,2017
13573,Werribee,5 Nuragi Ct,4,h,6.35e+05,S,hockingstuart,2017-08-26,14.7,3030.0,4.0,2.0,1.0,662.0,172.0,1980.0,NaN,-37.89,144.65,Western Metropolitan,16166.0,8,26,2017
13576,Williamstown,77 Merrett Dr,3,h,1.03e+06,SP,Williams,2017-08-26,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.86,144.88,Western Metropolitan,6380.0,8,26,2017
13578,Williamstown,96 Verdon St,4,h,2.50e+06,PI,Sweeney,2017-08-26,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.86,144.89,Western Metropolitan,6380.0,8,26,2017
13579,Yarraville,6 Agnes St,4,h,1.28e+06,SP,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81,144.88,Western Metropolitan,6543.0,8,26,2017

In [23]:
df['BuildingArea'].fillna('NO AREA', inplace = True)

In [24]:
#oglas postavljen 2017. ili 2018. godine

df[(df['year_id'] == 2017) | (df['year_id'] == 2018)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,month_id,day_id,year_id
2,Abbotsford,5 Charles St,3,h,1.46e+06,SP,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.81,144.99,Northern Metropolitan,4019.0,3,4,2017
3,Abbotsford,40 Federation La,3,h,8.50e+05,PI,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,1.0,94.0,NO AREA,NaN,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,3,4,2017
20,Abbotsford,3/72 Charles St,4,h,1.33e+06,PI,Kay,2017-03-18,2.5,3067.0,4.0,2.0,2.0,780.0,135.0,1900.0,Yarra,-37.81,145.00,Northern Metropolitan,4019.0,3,18,2017
21,Abbotsford,13/11 Nicholson St,3,t,9.00e+05,S,Beller,2017-03-18,2.5,3067.0,3.0,2.0,2.0,0.0,NO AREA,2010.0,Yarra,-37.81,145.00,Northern Metropolitan,4019.0,3,18,2017
22,Abbotsford,138/56 Nicholson St,3,u,1.09e+06,S,Jellis,2017-03-18,2.5,3067.0,3.0,2.0,2.0,4290.0,27.0,NaN,Yarra,-37.81,145.00,Northern Metropolitan,4019.0,3,18,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1.24e+06,S,Barry,2017-08-26,16.7,3150.0,4.0,2.0,2.0,652.0,NO AREA,1981.0,NaN,-37.91,145.17,South-Eastern Metropolitan,7392.0,8,26,2017
13576,Williamstown,77 Merrett Dr,3,h,1.03e+06,SP,Williams,2017-08-26,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.86,144.88,Western Metropolitan,6380.0,8,26,2017
13577,Williamstown,83 Power St,3,h,1.17e+06,S,Raine,2017-08-26,6.8,3016.0,3.0,2.0,4.0,436.0,NO AREA,1997.0,NaN,-37.85,144.89,Western Metropolitan,6380.0,8,26,2017
13578,Williamstown,96 Verdon St,4,h,2.50e+06,PI,Sweeney,2017-08-26,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.86,144.89,Western Metropolitan,6380.0,8,26,2017
13579,Yarraville,6 Agnes St,4,h,1.28e+06,SP,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81,144.88,Western Metropolitan,6543.0,8,26,2017

In [25]:
#oglas postavljen između 2016 i 2019 godine
df[(df['year_id'] <= 2019) & (df['year_id'] >= 2016)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,month_id,day_id,year_id
0,Abbotsford,85 Turner St,2,h,1.48e+06,S,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,NO AREA,NaN,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,12,3,2016
1,Abbotsford,25 Bloomburg St,2,h,1.04e+06,S,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.81,144.99,Northern Metropolitan,4019.0,2,4,2016
2,Abbotsford,5 Charles St,3,h,1.46e+06,SP,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.81,144.99,Northern Metropolitan,4019.0,3,4,2017
3,Abbotsford,40 Federation La,3,h,8.50e+05,PI,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,1.0,94.0,NO AREA,NaN,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,3,4,2017
4,Abbotsford,55a Park St,4,h,1.60e+06,VB,Nelson,2016-06-04,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.81,144.99,Northern Metropolitan,4019.0,6,4,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1.24e+06,S,Barry,2017-08-26,16.7,3150.0,4.0,2.0,2.0,652.0,NO AREA,1981.0,NaN,-37.91,145.17,South-Eastern Metropolitan,7392.0,8,26,2017
13576,Williamstown,77 Merrett Dr,3,h,1.03e+06,SP,Williams,2017-08-26,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.86,144.88,Western Metropolitan,6380.0,8,26,2017
13577,Williamstown,83 Power St,3,h,1.17e+06,S,Raine,2017-08-26,6.8,3016.0,3.0,2.0,4.0,436.0,NO AREA,1997.0,NaN,-37.85,144.89,Western Metropolitan,6380.0,8,26,2017
13578,Williamstown,96 Verdon St,4,h,2.50e+06,PI,Sweeney,2017-08-26,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.86,144.89,Western Metropolitan,6380.0,8,26,2017
13579,Yarraville,6 Agnes St,4,h,1.28e+06,SP,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81,144.88,Western Metropolitan,6543.0,8,26,2017

In [26]:
df['year_id'].unique()

array([2016, 2017], dtype=int64)

In [27]:
df['Date'].unique()

array(['2016-12-03T00:00:00.000000000', '2016-02-04T00:00:00.000000000',
       '2017-03-04T00:00:00.000000000', '2016-06-04T00:00:00.000000000',
       '2016-05-07T00:00:00.000000000', '2016-10-08T00:00:00.000000000',
       '2016-11-12T00:00:00.000000000', '2016-08-13T00:00:00.000000000',
       '2016-05-14T00:00:00.000000000', '2016-10-15T00:00:00.000000000',
       '2016-07-16T00:00:00.000000000', '2016-09-17T00:00:00.000000000',
       '2017-03-18T00:00:00.000000000', '2016-06-18T00:00:00.000000000',
       '2016-11-19T00:00:00.000000000', '2016-08-22T00:00:00.000000000',
       '2016-09-24T00:00:00.000000000', '2017-02-25T00:00:00.000000000',
       '2016-07-26T00:00:00.000000000', '2016-11-27T00:00:00.000000000',
       '2016-05-28T00:00:00.000000000', '2016-07-30T00:00:00.000000000',
       '2016-09-03T00:00:00.000000000', '2016-08-06T00:00:00.000000000',
       '2016-11-07T00:00:00.000000000', '2016-09-10T00:00:00.000000000',
       '2016-12-10T00:00:00.000000000', '2017-02-11T00:00:00.000000000',
       '2016-04-16T00:00:00.000000000', '2016-05-22T00:00:00.000000000',
       '2016-04-23T00:00:00.000000000', '2016-06-12T00:00:00.000000000',
       '2016-06-27T00:00:00.000000000', '2016-08-28T00:00:00.000000000',
       '2017-03-11T00:00:00.000000000', '2016-01-28T00:00:00.000000000',
       '2017-05-06T00:00:00.000000000', '2017-04-08T00:00:00.000000000',
       '2017-04-29T00:00:00.000000000', '2017-05-13T00:00:00.000000000',
       '2017-05-20T00:00:00.000000000', '2017-04-22T00:00:00.000000000',
       '2017-07-01T00:00:00.000000000', '2017-06-03T00:00:00.000000000',
       '2017-06-17T00:00:00.000000000', '2017-06-24T00:00:00.000000000',
       '2017-05-27T00:00:00.000000000', '2017-07-08T00:00:00.000000000',
       '2017-08-12T00:00:00.000000000', '2017-07-15T00:00:00.000000000',
       '2017-07-22T00:00:00.000000000', '2017-07-29T00:00:00.000000000',
       '2017-09-03T00:00:00.000000000', '2017-09-09T00:00:00.000000000',
       '2017-09-16T00:00:00.000000000', '2017-08-19T00:00:00.000000000',
       '2017-09-23T00:00:00.000000000', '2017-08-26T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [28]:
#srednja vrijednost
df['Rooms'].mean()

2.9379970544919

In [29]:
# grupisana naselja u odnosu na  srednju vrijednost broja soba i broja parking mjesta nekretnine
df.groupby('Suburb', as_index=False).agg({"Rooms":'mean','Car':'mean'})

           Suburb  Rooms   Car
0      Abbotsford   2.41  0.95
1      Aberfeldie   3.09  1.98
2    Airport West   3.00  1.64
3       Albanvale   3.00  2.17
4     Albert Park   2.71  0.73
..            ...    ...   ...
309    Wonga Park   3.00  2.00
310  Wyndham Vale   3.50  1.50
311     Yallambie   3.46  1.79
312    Yarra Glen   3.00  1.00
313    Yarraville   2.89  1.54

[314 rows x 3 columns]

In [30]:
#Grupisana naseljau odnosu na  srednju vrijednost broja soba i cijeni
df.groupby('Suburb', as_index=False).agg({"Rooms":'mean','Price':'mean'})

           Suburb  Rooms     Price
0      Abbotsford   2.41  1.06e+06
1      Aberfeldie   3.09  1.28e+06
2    Airport West   3.00  7.57e+05
3       Albanvale   3.00  5.37e+05
4     Albert Park   2.71  1.94e+06
..            ...    ...       ...
309    Wonga Park   3.00  9.00e+05
310  Wyndham Vale   3.50  4.83e+05
311     Yallambie   3.46  8.40e+05
312    Yarra Glen   3.00  6.20e+05
313    Yarraville   2.89  9.89e+05

[314 rows x 3 columns]

In [31]:
#grupisana naselja u odnosu na srednju vrijednost cijene i udaljenosti
df.groupby('Suburb', as_index=False).agg({"Price":'mean','Distance':'mean'})

           Suburb     Price  Distance
0      Abbotsford  1.06e+06      2.62
1      Aberfeldie  1.28e+06      8.63
2    Airport West  7.57e+05     12.48
3       Albanvale  5.37e+05     14.00
4     Albert Park  1.94e+06      3.23
..            ...       ...       ...
309    Wonga Park  9.00e+05     25.20
310  Wyndham Vale  4.83e+05     27.20
311     Yallambie  8.40e+05     14.62
312    Yarra Glen  6.20e+05     31.40
313    Yarraville  9.89e+05      6.85

[314 rows x 3 columns]

In [32]:
# nekretnine čiji je broj soba između 5 i 7
df[(df['Rooms'] <= 7) & (df['Rooms'] >= 5)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,month_id,day_id,year_id
47,Airport West,11 Harrington Rd,6,h,7.25e+05,SP,Barry,2016-05-07,13.5,3042.0,6.0,3.0,2.0,976.0,186.0,1980.0,Moonee Valley,-37.72,144.87,Western Metropolitan,3464.0,5,7,2016
55,Airport West,241 Parer Rd,5,h,7.55e+05,PI,Propertyau,2016-05-14,13.5,3042.0,3.0,2.0,2.0,596.0,NO AREA,NaN,Moonee Valley,-37.72,144.87,Western Metropolitan,3464.0,5,14,2016
93,Albert Park,23 Finlay St,5,h,2.10e+06,S,Greg,2016-12-10,3.3,3206.0,5.0,2.0,1.0,237.0,NO AREA,NaN,Port Phillip,-37.84,144.96,Southern Metropolitan,3280.0,12,10,2016
124,Alphington,83 Fulham Rd,5,h,2.84e+06,S,Nelson,2016-06-12,6.4,3078.0,5.0,4.0,4.0,809.0,165.0,1910.0,Darebin,-37.77,145.03,Northern Metropolitan,2211.0,6,12,2016
142,Altona,59 Bracken Gr,5,h,1.52e+06,S,Greg,2016-12-03,13.8,3018.0,5.0,3.0,3.0,729.0,268.0,2005.0,Hobsons Bay,-37.87,144.81,Western Metropolitan,5301.0,12,3,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13468,Kew,16 Hodgson St,5,h,3.45e+06,PI,Kay,2017-08-26,5.4,3101.0,5.0,2.0,2.0,668.0,0.0,2006.0,NaN,-37.81,145.01,Southern Metropolitan,10331.0,8,26,2017
13487,Melton,21D Yuille St,5,h,7.10e+05,PI,Ryder,2017-08-26,31.7,3337.0,5.0,2.0,2.0,1670.0,280.0,2000.0,NaN,-37.68,144.59,Western Victoria,3600.0,8,26,2017
13503,Mount Waverley,17 Huntingtower Cr,6,h,1.84e+06,S,Jellis,2017-08-26,14.2,3149.0,6.0,2.0,2.0,554.0,368.0,1999.0,NaN,-37.88,145.14,Eastern Metropolitan,13366.0,8,26,2017
13560,Templestowe Lower,50 Caroline Dr,5,h,1.40e+06,S,Barry,2017-08-26,12.4,3107.0,5.0,3.0,2.0,717.0,310.0,1963.0,NaN,-37.77,145.11,Eastern Metropolitan,5420.0,8,26,2017
13567,Viewbank,149 Graham Rd,5,h,1.32e+06,SP,Nelson,2017-08-26,8.9,3084.0,5.0,3.0,3.0,696.0,NO AREA,NaN,NaN,-37.74,145.08,Eastern Metropolitan,2698.0,8,26,2017

In [33]:
#nekretnine koje se nalaze u naseljima Alton ili Melton
df[(df['Suburb'] == 'Altona') | (df['Suburb'] == 'Melton')]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,month_id,day_id,year_id
141,Altona,158 Queen St,3,h,5.20e+05,VB,Greg,2016-09-03,13.8,3018.0,3.0,2.0,1.0,352.0,242.0,2015.0,Hobsons Bay,-37.87,144.82,Western Metropolitan,5301.0,9,3,2016
142,Altona,59 Bracken Gr,5,h,1.52e+06,S,Greg,2016-12-03,13.8,3018.0,5.0,3.0,3.0,729.0,268.0,2005.0,Hobsons Bay,-37.87,144.81,Western Metropolitan,5301.0,12,3,2016
143,Altona,1/123 Blyth St,2,t,7.20e+05,S,hockingstuart,2016-02-04,13.8,3018.0,2.0,1.0,2.0,292.0,125.0,2013.0,Hobsons Bay,-37.87,144.82,Western Metropolitan,5301.0,2,4,2016
144,Altona,4 Blyth St,3,h,1.12e+06,S,Barlow,2017-03-04,13.8,3018.0,3.0,1.0,2.0,506.0,120.0,1930.0,Hobsons Bay,-37.87,144.84,Western Metropolitan,5301.0,3,4,2017
145,Altona,20 Linnet St,4,h,7.80e+05,PI,Sweeney,2016-06-04,13.8,3018.0,4.0,1.0,4.0,655.0,NO AREA,NaN,Hobsons Bay,-37.87,144.82,Western Metropolitan,5301.0,6,4,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12634,Altona,6 Myrtle Gr,3,h,1.25e+06,S,RT,2017-09-16,11.0,3018.0,3.0,1.0,3.0,710.0,NO AREA,NaN,NaN,-37.87,144.82,Western Metropolitan,5301.0,9,16,2017
13227,Melton,118 Barries Rd,3,h,2.83e+05,S,FN,2017-09-23,31.7,3337.0,3.0,1.0,0.0,362.0,19.0,1976.0,NaN,-37.69,144.57,Western Victoria,3600.0,9,23,2017
13338,Altona,20 Burt St,3,h,9.20e+05,VB,PRD,2017-08-26,11.0,3018.0,3.0,2.0,2.0,584.0,NO AREA,NaN,NaN,-37.86,144.82,Western Metropolitan,5301.0,8,26,2017
13339,Altona,1/76 Queen St,2,u,8.01e+05,S,Sweeney,2017-08-26,11.0,3018.0,2.0,1.0,1.0,245.0,NO AREA,NaN,NaN,-37.87,144.83,Western Metropolitan,5301.0,8,26,2017
13487,Melton,21D Yuille St,5,h,7.10e+05,PI,Ryder,2017-08-26,31.7,3337.0,5.0,2.0,2.0,1670.0,280.0,2000.0,NaN,-37.68,144.59,Western Victoria,3600.0,8,26,2017

In [44]:
#Naselja čija je udaljenost između 5 i 20 km
df[(df['Distance'] <= 20) & (df['Distance'] >= 5)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,month_id,day_id,year_id
38,Airport West,154 Halsey Rd,3,t,8.40e+05,PI,Nelson,2016-09-03,13.5,3042.0,3.0,2.0,1.0,303.0,225.0,2016.0,Moonee Valley,-37.72,144.88,Western Metropolitan,3464.0,9,3,2016
39,Airport West,50 Bedford St,3,h,7.30e+05,VB,Nelson,2016-12-03,13.5,3042.0,3.0,2.0,1.0,0.0,145.0,1965.0,Moonee Valley,-37.72,144.88,Western Metropolitan,3464.0,12,3,2016
40,Airport West,50 Bedford St,3,h,7.70e+05,SP,Nelson,2017-03-04,13.5,3042.0,3.0,2.0,1.0,0.0,145.0,1965.0,Moonee Valley,-37.72,144.88,Western Metropolitan,3464.0,3,4,2017
41,Airport West,23 Hart St,2,h,6.03e+05,S,Nelson,2017-03-04,13.5,3042.0,2.0,1.0,1.0,272.0,84.0,1950.0,Moonee Valley,-37.73,144.89,Western Metropolitan,3464.0,3,4,2017
42,Airport West,1/80 Hawker St,3,t,7.00e+05,S,Brad,2017-03-04,13.5,3042.0,3.0,2.0,2.0,239.0,134.0,2009.0,Moonee Valley,-37.72,144.88,Western Metropolitan,3464.0,3,4,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1.24e+06,S,Barry,2017-08-26,16.7,3150.0,4.0,2.0,2.0,652.0,NO AREA,1981.0,NaN,-37.91,145.17,South-Eastern Metropolitan,7392.0,8,26,2017
13576,Williamstown,77 Merrett Dr,3,h,1.03e+06,SP,Williams,2017-08-26,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.86,144.88,Western Metropolitan,6380.0,8,26,2017
13577,Williamstown,83 Power St,3,h,1.17e+06,S,Raine,2017-08-26,6.8,3016.0,3.0,2.0,4.0,436.0,NO AREA,1997.0,NaN,-37.85,144.89,Western Metropolitan,6380.0,8,26,2017
13578,Williamstown,96 Verdon St,4,h,2.50e+06,PI,Sweeney,2017-08-26,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.86,144.89,Western Metropolitan,6380.0,8,26,2017
13579,Yarraville,6 Agnes St,4,h,1.28e+06,SP,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81,144.88,Western Metropolitan,6543.0,8,26,2017

In [43]:
#Nekretnine koje su izgrađene između 2000 i 2010 godine
df[(df['YearBuilt'] <= 2010) & (df['YearBuilt'] >= 2000)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,month_id,day_id,year_id
11,Abbotsford,40 Nicholson St,3,h,1.35e+06,VB,Nelson,2016-11-12,2.5,3067.0,3.0,2.0,2.0,214.0,190.0,2005.0,Yarra,-37.81,145.00,Northern Metropolitan,4019.0,11,12,2016
12,Abbotsford,123/56 Nicholson St,2,u,7.50e+05,S,Biggin,2016-11-12,2.5,3067.0,2.0,2.0,1.0,0.0,94.0,2009.0,Yarra,-37.81,145.00,Northern Metropolitan,4019.0,11,12,2016
21,Abbotsford,13/11 Nicholson St,3,t,9.00e+05,S,Beller,2017-03-18,2.5,3067.0,3.0,2.0,2.0,0.0,NO AREA,2010.0,Yarra,-37.81,145.00,Northern Metropolitan,4019.0,3,18,2017
42,Airport West,1/80 Hawker St,3,t,7.00e+05,S,Brad,2017-03-04,13.5,3042.0,3.0,2.0,2.0,239.0,134.0,2009.0,Moonee Valley,-37.72,144.88,Western Metropolitan,3464.0,3,4,2017
56,Airport West,2/40 Earl St,3,t,7.00e+05,PI,Brad,2016-10-15,13.5,3042.0,3.0,2.0,2.0,165.0,133.0,2009.0,Moonee Valley,-37.73,144.89,Western Metropolitan,3464.0,10,15,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13504,Mount Waverley,2/392 Stephensons Rd,3,t,1.04e+06,SP,McGrath,2017-08-26,14.2,3149.0,3.0,2.0,2.0,236.0,138.0,2006.0,NaN,-37.89,145.13,Eastern Metropolitan,13366.0,8,26,2017
13521,Port Melbourne,44 Garton St,4,t,2.46e+06,SP,Marshall,2017-08-26,3.5,3207.0,4.0,3.0,2.0,123.0,0.0,2010.0,NaN,-37.83,144.95,Southern Metropolitan,8648.0,8,26,2017
13526,Reservoir,1E Black St,3,t,6.40e+05,PI,Ray,2017-08-26,12.0,3073.0,3.0,1.0,1.0,224.0,128.0,2008.0,NaN,-37.71,145.02,Northern Metropolitan,21650.0,8,26,2017
13556,Tarneit,27 McMahon Cr,3,h,3.50e+05,VB,S&L,2017-08-26,18.4,3029.0,3.0,1.0,1.0,466.0,103.0,2003.0,NaN,-37.87,144.66,Western Metropolitan,10160.0,8,26,2017
13572,Watsonia,76 Kenmare St,2,h,6.50e+05,PI,Morrison,2017-08-26,14.5,3087.0,2.0,1.0,1.0,210.0,79.0,2006.0,NaN,-37.71,145.08,Northern Metropolitan,2329.0,8,26,2017

In [45]:
#Grupisano po cijeni u odnosu na srednju vrijednost broja soba i udaljenosti naselja
df.groupby('Price', as_index=False).agg({"Rooms":'mean','Distance':'mean'})

         Price  Rooms  Distance
0     8.50e+04    1.0      6.40
1     1.31e+05    4.0      8.90
2     1.45e+05    2.5     10.85
3     1.60e+05    1.0      4.60
4     1.70e+05    1.0      5.15
...        ...    ...       ...
2199  6.40e+06    5.0      3.00
2200  6.50e+06    6.0      5.60
2201  7.65e+06    4.0      5.30
2202  8.00e+06    5.0      9.00
2203  9.00e+06    3.0     18.80

[2204 rows x 3 columns]

In [47]:
#Grupisano po cijeni u odnosu na srednju vrijednost vroja soba i imanja

df.groupby('Price', as_index=False).agg({"Rooms":'mean','Landsize':'mean'})

         Price  Rooms  Landsize
0     8.50e+04    1.0       0.0
1     1.31e+05    4.0     499.0
2     1.45e+05    2.5     286.0
3     1.60e+05    1.0     322.0
4     1.70e+05    1.0     640.0
...        ...    ...       ...
2199  6.40e+06    5.0     553.0
2200  6.50e+06    6.0    1334.0
2201  7.65e+06    4.0    1690.0
2202  8.00e+06    5.0    2079.0
2203  9.00e+06    3.0     744.0

[2204 rows x 3 columns]

In [48]:
#Grupisano po godini izgradnje u odnosu na srednju vrijednost broja soba i cijeni
df.groupby('YearBuilt', as_index=False).agg({"Rooms":'mean','Price':'mean'})

     YearBuilt  Rooms     Price
0       1196.0   3.00  1.20e+06
1       1830.0   2.00  8.55e+05
2       1850.0   2.50  1.18e+06
3       1854.0   4.00  3.31e+06
4       1856.0   4.00  2.26e+06
..         ...    ...       ...
139     2014.0   2.90  9.22e+05
140     2015.0   3.28  1.23e+06
141     2016.0   3.50  1.52e+06
142     2017.0   3.44  1.04e+06
143     2018.0   2.00  1.31e+06

[144 rows x 3 columns]

In [49]:
#Grupisano po cijeni u odnosu na srednju vrijednost broja soba i broja kupatila
df.groupby('Price', as_index=False).agg({"Rooms":'mean','Bathroom':'mean'})

         Price  Rooms  Bathroom
0     8.50e+04    1.0       1.0
1     1.31e+05    4.0       1.0
2     1.45e+05    2.5       1.0
3     1.60e+05    1.0       1.0
4     1.70e+05    1.0       1.0
...        ...    ...       ...
2199  6.40e+06    5.0       2.0
2200  6.50e+06    6.0       6.0
2201  7.65e+06    4.0       2.0
2202  8.00e+06    5.0       5.0
2203  9.00e+06    3.0       1.0

[2204 rows x 3 columns]

In [50]:
#Nekretnine koje imaju između 3 i 5 kupatila
df[(df['Bathroom'] <= 5) & (df['Bathroom'] >= 3)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,month_id,day_id,year_id
27,Abbotsford,48 Abbotsford St,3,h,1.45e+06,PI,Nelson,2016-08-22,2.5,3067.0,3.0,3.0,1.0,166.0,174.0,2012.0,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,8,22,2016
30,Abbotsford,31 Turner St,4,h,1.54e+06,S,Collins,2016-09-24,2.5,3067.0,4.0,3.0,1.0,0.0,NO AREA,NaN,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,9,24,2016
47,Airport West,11 Harrington Rd,6,h,7.25e+05,SP,Barry,2016-05-07,13.5,3042.0,6.0,3.0,2.0,976.0,186.0,1980.0,Moonee Valley,-37.72,144.87,Western Metropolitan,3464.0,5,7,2016
63,Airport West,6 Kittyhawk St,4,h,7.73e+05,S,Brad,2016-09-17,13.5,3042.0,5.0,3.0,4.0,531.0,309.0,1980.0,Moonee Valley,-37.73,144.87,Western Metropolitan,3464.0,9,17,2016
64,Airport West,478 Fullarton Rd,3,h,8.10e+05,PI,Barry,2017-03-18,13.5,3042.0,3.0,3.0,2.0,555.0,192.0,1980.0,Moonee Valley,-37.73,144.87,Western Metropolitan,3464.0,3,18,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13528,Reservoir,28 Manoel Av,4,h,8.52e+05,S,Stockdale,2017-08-26,12.0,3073.0,4.0,3.0,2.0,527.0,240.0,1980.0,NaN,-37.70,145.03,Northern Metropolitan,21650.0,8,26,2017
13541,Seddon,48 Hamilton St,4,h,1.50e+06,SP,Sweeney,2017-08-26,5.1,3011.0,4.0,3.0,1.0,934.0,199.0,2014.0,NaN,-37.81,144.89,Western Metropolitan,2417.0,8,26,2017
13553,Surrey Hills,20 Albert Cr,4,h,2.72e+06,S,Kay,2017-08-26,10.2,3127.0,4.0,3.0,2.0,1005.0,NO AREA,1920.0,NaN,-37.82,145.10,Southern Metropolitan,5457.0,8,26,2017
13560,Templestowe Lower,50 Caroline Dr,5,h,1.40e+06,S,Barry,2017-08-26,12.4,3107.0,5.0,3.0,2.0,717.0,310.0,1963.0,NaN,-37.77,145.11,Eastern Metropolitan,5420.0,8,26,2017
13567,Viewbank,149 Graham Rd,5,h,1.32e+06,SP,Nelson,2017-08-26,8.9,3084.0,5.0,3.0,3.0,696.0,NO AREA,NaN,NaN,-37.74,145.08,Eastern Metropolitan,2698.0,8,26,2017

In [51]:
#Nekretnine koje imaju između 5 i 7 parking mjesta
df[(df['Car'] <= 7) & (df['Car'] >= 5)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,month_id,day_id,year_id
51,Airport West,3 Deidre Ct,3,h,8.95e+05,PI,Rendina,2016-09-10,13.5,3042.0,3.0,1.0,6.0,1063.0,133.0,1975.0,Moonee Valley,-37.72,144.87,Western Metropolitan,3464.0,9,10,2016
61,Airport West,138 Victory Rd,3,h,1.04e+06,S,Nelson,2016-07-16,13.5,3042.0,3.0,2.0,5.0,612.0,174.0,1950.0,Moonee Valley,-37.72,144.88,Western Metropolitan,3464.0,7,16,2016
146,Altona,29 Rose St,4,h,1.78e+06,SP,Greg,2016-06-04,13.8,3018.0,4.0,3.0,6.0,1057.0,220.0,1962.0,Hobsons Bay,-37.87,144.82,Western Metropolitan,5301.0,6,4,2016
186,Altona North,45 Hearn St,5,h,1.08e+06,S,FN,2016-09-03,11.1,3025.0,5.0,3.0,6.0,592.0,251.0,1965.0,Hobsons Bay,-37.84,144.86,Western Metropolitan,5132.0,9,3,2016
318,Ascot Vale,125 Epsom Rd,4,h,1.10e+06,VB,Nelson,2016-10-15,5.9,3032.0,4.0,2.0,5.0,559.0,195.0,1920.0,Moonee Valley,-37.78,144.91,Western Metropolitan,6567.0,10,15,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13371,Brighton East,375 South Rd,5,h,1.65e+06,SP,Hodges,2017-08-26,10.3,3187.0,5.0,2.0,5.0,773.0,275.0,1950.0,NaN,-37.93,145.03,Southern Metropolitan,6938.0,8,26,2017
13413,Essendon,54 Cooper St,5,h,2.34e+06,SP,Barry,2017-08-26,7.5,3040.0,5.0,2.0,6.0,1012.0,222.0,1915.0,NaN,-37.75,144.90,Western Metropolitan,9264.0,8,26,2017
13479,Langwarrin,83 Pindara Bvd,4,h,9.65e+05,PI,O'Brien,2017-08-26,41.0,3910.0,4.0,2.0,6.0,869.0,264.0,2007.0,NaN,-38.15,145.19,Eastern Victoria,8743.0,8,26,2017
13483,Maribyrnong,88 The Esplanade,3,h,3.40e+06,SP,Jas,2017-08-26,4.3,3032.0,3.0,1.0,5.0,2027.0,187.0,1964.0,NaN,-37.77,144.89,Western Metropolitan,4918.0,8,26,2017
13578,Williamstown,96 Verdon St,4,h,2.50e+06,PI,Sweeney,2017-08-26,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.86,144.89,Western Metropolitan,6380.0,8,26,2017

In [52]:
#Nekretnine čija je cijena između 1.08e+06 i 	2.34e+06
df[(df['Price'] <= 	2.34e+06) & (df['Price'] >= 	1.08e+06)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,month_id,day_id,year_id
0,Abbotsford,85 Turner St,2,h,1.48e+06,S,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,NO AREA,NaN,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,12,3,2016
2,Abbotsford,5 Charles St,3,h,1.46e+06,SP,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.81,144.99,Northern Metropolitan,4019.0,3,4,2017
4,Abbotsford,55a Park St,4,h,1.60e+06,VB,Nelson,2016-06-04,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.81,144.99,Northern Metropolitan,4019.0,6,4,2016
6,Abbotsford,124 Yarra St,3,h,1.88e+06,S,Nelson,2016-05-07,2.5,3067.0,4.0,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,5,7,2016
7,Abbotsford,98 Charles St,2,h,1.64e+06,S,Nelson,2016-10-08,2.5,3067.0,2.0,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.81,145.00,Northern Metropolitan,4019.0,10,8,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13569,Wantirna South,12 Armagh Cr,4,h,1.32e+06,S,Barry,2017-08-26,14.7,3152.0,4.0,2.0,2.0,551.0,NO AREA,NaN,NaN,-37.88,145.22,Eastern Metropolitan,7082.0,8,26,2017
13571,Wantirna South,15 Mara Cl,4,h,1.33e+06,S,Barry,2017-08-26,14.7,3152.0,4.0,2.0,2.0,717.0,191.0,1980.0,NaN,-37.87,145.22,Eastern Metropolitan,7082.0,8,26,2017
13575,Wheelers Hill,12 Strada Cr,4,h,1.24e+06,S,Barry,2017-08-26,16.7,3150.0,4.0,2.0,2.0,652.0,NO AREA,1981.0,NaN,-37.91,145.17,South-Eastern Metropolitan,7392.0,8,26,2017
13577,Williamstown,83 Power St,3,h,1.17e+06,S,Raine,2017-08-26,6.8,3016.0,3.0,2.0,4.0,436.0,NO AREA,1997.0,NaN,-37.85,144.89,Western Metropolitan,6380.0,8,26,2017
13579,Yarraville,6 Agnes St,4,h,1.28e+06,SP,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81,144.88,Western Metropolitan,6543.0,8,26,2017

In [53]:
Grupisan tip nekretnine po srednjoj vrijednosti broja soba i kupatila
df.groupby('Type', as_index=False).agg({"Rooms":'mean','Bathroom':'mean'})

  Type  Rooms  Bathroom
0    h   3.26      1.61
1    t   2.84      1.81
2    u   1.96      1.18

In [54]:
#Nekretnine koje imaju imanje između 150 i 200
df[(df['Landsize'] <= 200) & (df['Landsize'] >= 150)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,month_id,day_id,year_id
1,Abbotsford,25 Bloomburg St,2,h,1.04e+06,S,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.81,144.99,Northern Metropolitan,4019.0,2,4,2016
5,Abbotsford,129 Charles St,2,h,9.41e+05,S,Jellis,2016-05-07,2.5,3067.0,2.0,1.0,0.0,181.0,NO AREA,NaN,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,5,7,2016
13,Abbotsford,45 William St,2,h,1.17e+06,S,Biggin,2016-08-13,2.5,3067.0,2.0,1.0,1.0,195.0,NO AREA,NaN,Yarra,-37.81,145.00,Northern Metropolitan,4019.0,8,13,2016
18,Abbotsford,196 Nicholson St,3,h,9.55e+05,S,Collins,2016-09-17,2.5,3067.0,3.0,1.0,0.0,183.0,NO AREA,NaN,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,9,17,2016
19,Abbotsford,42 Valiant St,2,h,8.90e+05,S,Biggin,2016-09-17,2.5,3067.0,2.0,1.0,1.0,150.0,73.0,1985.0,Yarra,-37.80,145.00,Northern Metropolitan,4019.0,9,17,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13465,Kew,135 Brougham St,4,h,1.80e+06,SP,Nelson,2017-08-26,5.4,3101.0,4.0,2.0,2.0,191.0,NO AREA,NaN,NaN,-37.80,145.03,Southern Metropolitan,10331.0,8,26,2017
13480,Maidstone,3 Wallace St,3,h,7.35e+05,S,Biggin,2017-08-26,6.4,3012.0,3.0,1.0,1.0,167.0,110.0,2010.0,NaN,-37.79,144.88,Western Metropolitan,3873.0,8,26,2017
13490,Middle Park,81 Erskine St,3,h,2.09e+06,S,Chisholm,2017-08-26,3.0,3206.0,3.0,1.0,0.0,199.0,113.0,1900.0,NaN,-37.85,144.96,Southern Metropolitan,2019.0,8,26,2017
13509,Northcote,95 Beavers Rd,2,h,1.12e+06,S,Nelson,2017-08-26,5.3,3070.0,2.0,2.0,1.0,173.0,81.0,1910.0,NaN,-37.77,144.99,Northern Metropolitan,11364.0,8,26,2017
13522,Port Melbourne,201 Stokes St,2,h,1.52e+06,SP,Marshall,2017-08-26,3.5,3207.0,2.0,2.0,NaN,197.0,NO AREA,NaN,NaN,-37.84,144.94,Southern Metropolitan,8648.0,8,26,2017

In [55]:
#Grupisana srednja vrijednost broja soba i kupatila po broju soba nekretnine
df.groupby('Rooms', as_index=False).agg({"Price":'mean','Bathroom':'mean'})

   Rooms     Price  Bathroom
0      1  4.34e+05      1.01
1      2  7.75e+05      1.14
2      3  1.08e+06      1.47
3      4  1.45e+06      2.04
4      5  1.87e+06      2.69
5      6  1.85e+06      2.82
6      7  1.92e+06      2.90
7      8  1.60e+06      4.12
8     10  9.00e+05      3.00

In [56]:
#Grupisana srednja cijena i broj kupatila u odnosu na godinu izgradnje
df.groupby('YearBuilt', as_index=False).agg({"Price":'mean','Bathroom':'mean'})

     YearBuilt     Price  Bathroom
0       1196.0  1.20e+06      1.00
1       1830.0  8.55e+05      1.00
2       1850.0  1.18e+06      1.75
3       1854.0  3.31e+06      4.00
4       1856.0  2.26e+06      3.00
..         ...       ...       ...
139     2014.0  9.22e+05      1.95
140     2015.0  1.23e+06      2.26
141     2016.0  1.52e+06      2.53
142     2017.0  1.04e+06      2.44
143     2018.0  1.31e+06      3.00

[144 rows x 3 columns]

In [57]:
#Prosječna godina izgradnje
df['YearBuilt'].mean()

1964.6842169408897